/* ------------------------------------------------------------ 
		General
------------------------------------------------------------ */

/* Dark Gray Background Behind Device Image */

#esb.fullscreen.ipad,
#esb.fullscreen.fujitsu,
#esb.fullscreen.ipad.landscape,
#esb.fullscreen.iphone {
	height: 100%;
	width: 100%;
	background-color: #333;
}

/* ------------------------------------------------------------ 
		iPad
------------------------------------------------------------ */

/* Default (includes Portrait) */ 
#esb.fullscreen.ipad > section.pages > article {
	outline: 3px solid #444;
}
#esb.ipad > section.pages > article > section.design {
	height: 1024px;
	width: 768px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -360px;
	margin-top: -512px;
	overflow: scroll;
	background-color: white;
	-moz-transform: scale(0.8);
}
#esb.ipad > section.pages.grid > article {
    margin-bottom: 30px;
}
#esb.ipad > section.pages.grid > article > section.design {
	top: 30px;
	left: 0;
	margin-left: 0;
	margin-top: 0;
  -moz-transform: scale(0.32);
  border-width: 5px;
}
#esb.ipad > section.pages.notes > article > section.design {
	top: 107px;
	left: 63px;
	margin-top: 0;
	margin-left: 0;
	-moz-transform: scale(0.5);
}

/* Landscape */ 
#esb.ipad.landscape > section.pages > article > section.design {
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -359px;
	margin-left: -512px;
	overflow: scroll;
	background-color: white;
	overflow: hidden;
}
#esb.ipad.landscape > section.pages.grid > article {
	height: 210px;
}
#esb.ipad.landscape > section.pages.grid > article > section.design {
  -moz-transform: scale(0.23);
	margin-top: 30px;
	margin-left: 0;
	top: 0%;
	left: 0%;
}
#esb.ipad.landscape > section.pages.notes > article > section.design {
	-moz-transform: scale(0.45);
    -moz-transform-origin: topleft;
	left:56px;
	top: 98px;
    margin-left: 0;
margin-top: 0;
    
}

/* Background Device Image */ 
#esb.fullscreen.ipad > section.pages > article:before,
#esb.ipad > section.pages.notes > article:before {
	-moz-transform: scale(0.8);
	background-color: gray;
	background-image: url("../images/ipad.jpg");
	content: "";
	height: 1290px;
	left: 50%;
	margin-left: -483px;
	margin-top: -644px;
	position: absolute;
	top: 50%;
	width: 1015px;
	z-index: -1;
}
#esb.fullscreen.ipad.landscape > section.pages > article:before {
	-moz-transform: rotate(90deg) scale(0.8);
  margin-left: -507px;
  margin-top: -610px;
}
#esb.ipad > section.pages.notes > article:before {
	-moz-transform: scale(0.51);
  -moz-transform-origin: top left;
	left: 0px;
	top: 40px;
	margin-left: 0px;
	margin-top: 0px;
}
#esb.ipad.landscape > section.pages.notes > article:before {
    -moz-transform: scale(0.46) rotate(90deg);
    margin-left: 0;
    margin-top: 43px;
    left: 590px;
    top: 0px;
}
/* ------------------------------------------------------------ 
		iPhone
------------------------------------------------------------ */

/* Default (includes Portrait) */ 
#esb.fullscreen.iphone > section.pages > article {
	outline: 3px solid #444;
}
#esb.iphone > section.pages > article > section.design {
	height: 480px;
	width: 320px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -240px;
	overflow: scroll;
	background-color: white;
}
#esb.iphone > section.pages.grid > article {
	height: 380px;
}
#esb.iphone > section.pages.grid > article > section.design {
	top: 30px;
	left: 0;
	margin-left: 0;
	margin-top: 0;
  -moz-transform: scale(0.7);
  border-width: 5px;
}
#esb.iphone > section.pages.notes > article > section.design {
	top: 165px;
	left: 31px;
	margin-top: 0;
	margin-left: 0;
	-moz-transform: scale(1.0);
}

/* Landscape */ 
#esb.iphone.landscape > section.pages > article > section.design {
	height: 320px;
	width: 480px;
	margin-top: -160px;
	margin-left: -240px;
}
#esb.iphone.landscape > section.pages.grid > article {
	height: 210px;
}
#esb.iphone.landscape > section.pages.grid > article > section.design {
  -moz-transform: scale(0.5);
	margin-left: 0;
	margin-top: 0;
}
#esb.iphone.landscape > section.pages.notes > article > section.design {
	-moz-transform: scale(0.8);
	left:100px;
	top: 68px;
	margin-left: 0;
	margin-top: 0;
}

/* Background Device Image */ 
#esb.fullscreen.iphone > section.pages > article:before,
#esb.iphone > section.pages.notes > article:before {
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 392px;
	height: 734px;
	margin-top: -368px;
	margin-left: -196px;
	background-color: gray;
	content: "";
	background-image: url("../images/iphone.jpg");
}
#esb.iphone > section.pages.notes > article:before {
	left: 0;
	top: 40px;
	margin-left: 0;
	margin-top: 0;
}
#esb.fullscreen.iphone.landscape > section.pages > article:before {
	-moz-transform: scale(1) rotate(90deg);
}
#esb.iphone.landscape > section.pages.notes > article:before {
	top: -167px;
	left: 100px;
	-moz-transform: scale(0.8) rotate(90deg);
}

/* ------------------------------------------------------------ 
		Fujitsu Convertible
------------------------------------------------------------ */

/* Default (No Orientation Alternative) */ 
#esb.fujitsu > section.pages > article > section.design {
	height: 629px;
	width: 1272px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -630px;
	margin-top: -316px;
	overflow: hidden;
}

/* Background Device Image */ 
#esb.fullscreen.fujitsu > section.pages > article:before {
	background-color: gray;
	background-image: url("../images/fujitsu-ie.jpg");
	content: "";
	height: 1118px;
	left: 50%;
	margin-left: -721px;
	margin-top: -539px;
	position: absolute;
	top: 50%;
	width: 1447px;
	z-index: -1;
}

/* ------------------------------------------------------------ 
		Desktop Browser
------------------------------------------------------------ */

/* Pending */
