/*!
 * EightShapes Blocks framework 2012.02.07
 * http://eightshapes.com
 *
 * Copyright 2012, EightShapes LLC
 * Terms of Use: http://unify.eightshapes.com/about-the-system/terms-of-use/
 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
body,p{font:14px/18px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}
a {color:#0088CC;}
a:focus{outline:1px dotted}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1,h2,h3,h4 { line-height: 1.2em; margin-bottom: 10px; font-weight: normal;}
h1{font-size:40px; }
h2{font-size:25px; }
h3{font-size:20px; }
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
ol{list-style:decimal}
ul{list-style:disc}
li{margin-left:30px}

button.esb {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font:14px/18px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}

@font-face {
    font-family: 'MuseoSlab500';
    src: url('fonts/museoslab/museo_slab_500-webfont.eot');
    src: url('fonts/museoslab/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museoslab/museo_slab_500-webfont.woff') format('woff'),
         url('fonts/museoslab/museo_slab_500-webfont.ttf') format('truetype'),
         url('fonts/museoslab/museo_slab_500-webfont.svg#MuseoSlab500') format('svg');
    src: local('Museo Slab');
    font-weight: normal;
    font-style: normal;
}

.hide {
	display: none;
}

#esb {
	background: url('../images/noise.png') repeat scroll 0 0 white;
	margin: 0;
	padding: 0;
}
#esb > *.hide {
	display: none;
}
#esb > section {
	margin-left: 20px;
	margin-right: 20px;
	display: none;
}
#esb > section.active {
	display: block;
}

/* EightShapes Blocks Header (Prototype Metadata and Main Navigation) */

#esb > header {
	display: block;
	background-color: #222;
	min-height: 50px;
	padding: 0px;
	border-top: 5px solid #eb6621;
	top: 0;
	width: 100%;
	margin: 0;
	z-index: 999;
}
#esb > header > h1 {
	font: normal 17px 'Museo Slab', Arial;
	color: #888;
	margin: 9px 5px 0px 20px;
	line-height: 1em;
	border-width: 0px;
	padding: 0;
	width: 100%;
}
#esb > header > dl {
	display: block;
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
	margin: 0px 0px 5px 20px;
}
#esb > header > dl > dt {
	color: #666;
	display: inline-block;
}
#esb > header > dl > dd {
	color: #888;
	display: inline-block;
}
#esb > header > dl > dd > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#esb > header > dl > dd > ul > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#esb > header > nav.primary {
	display: block;
	text-align: center;
	float: right;
}
#esb > header > nav.primary > ul {
	list-style: none;
	padding-top: 0px;
	white-space: nowrap;
}
#esb > header > nav.primary > ul > li {
	display: inline-block;
	height: 20px;
	padding: 15px;
	margin: 0px;
	border-left: 1px solid #444;
	font-size: 16px;
	color: #666;
	font-family: 'MuseoSlab500', Arial;
	text-transform: uppercase;
	cursor: pointer;
}
#esb > header > nav.primary > ul > li.home {
	background-image: url("../images/icons.gif");
	background-position: -120px -100px;
	background-repeat: no-repeat;
	border-left: 0 none;
	float: left;
	height: 0;
	margin: 8px 0 0 0;
	opacity: 0.4;
	padding: 15px;
	width: 20px;
}
#esb > header > nav.primary > ul > li.home:hover {
	opacity: 0.6;
}
#esb > header > nav.primary > ul > li.active,
#esb > header > nav.primary > ul > li.active:hover {
	color: #eb6621;
	background-color: #333;
}
#esb > header > nav.primary > ul > li:hover {
	color: #aaa;
}

/*	EightShapes Blocks Toolbar Menu, Pages (including full screen) or Components */

#esb > section > menu {
	background-color: rgba(48, 48, 48, 0.9);
	display: block;
	height: 50px;
	margin: 0 -20px 20px;
	z-index: 9999;
	text-align: right;
}
#esb.fullscreen > section > menu,
#esb.fullscreen > section > menu.topright {
	display: block;
	position: fixed;
	-moz-border-radius: 0px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-radius: 0px;
	-webkit-border-radius-bottomleft: 8px;
	top: 0;
	right: 0px;
	z-index: 20000;
	margin: 0;
	background: rgba(0,0,0,0.2);
	padding-left: 10px;
	opacity:1;
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out; 
	     -o-transition: all 0.2s ease-out; 
	        transition: all 0.2s ease-out; 
}
#esb.fullscreen > section > menu.bottomright {
	-moz-border-radius: 0px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-radius: 0px;
	-webkit-border-radius-topleft: 8px;
	top: auto;
	bottom: 0px;
	left: auto;
	right: 0px;
}
#esb.fullscreen > section > menu.bottomleft {
	-moz-border-radius: 0px;
	-moz-border-radius-topright: 8px;
	-webkit-border-radius: 0px;
	-webkit-border-radius-topright: 8px;
	top: auto;
	bottom: 0px;
	left: 0px;
	right: auto;
}
#esb.fullscreen > section > menu.topleft {
	-moz-border-radius: 0px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-radius: 0px;
	-webkit-border-radius-bottomright: 8px;
	top: 0px;
	bottom: auto;
	left: 0px;
	right: auto;
}
html:hover #esb.fullscreen > section > menu {
    opacity:.25;
}
html #esb.fullscreen > section > menu:hover {
    opacity:1;
}
#esb > section > menu > h2 {
	display: none;
}
#esb > section > menu button {
	display: inline-block;
	background: none repeat scroll 0 0 transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 0;
	margin: 8px 6px 0 0;
	outline: 0;
	width: 33px;
	height: 33px;
	text-indent: -8888px;
	background-color: #444;
	color: white;
	cursor: pointer;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	background-position: -178px -98px;
}
#esb > section > menu button.active,
#esb > section > menu button.active:hover {
	background-color: #eb6721;
}
#esb > section > menu button:hover {
	background-color: #666;
}
#esb > section > menu > button {
	display: none;
}
#esb > section > menu > span.controlset {
	display: none;
	margin-right: 15px;
}
#esb > section > menu button.thumbnail,
#esb > section > menu button.grid,
#esb > section > menu > button.next {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
#esb > section > menu button.list,
#esb > section > menu button.thumbnail,
#esb > section > menu > button.previous {
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-position: -148px -99px;
	margin-right: 0;
	border-right: 1px solid rgba(256,256,256,0.3);
}
#esb > section > menu > button.markers {
	background-position: -58px -99px;
}
#esb > section > menu > button.exitfullscreen {
	background-position: -28px -99px;
}
#esb > section > menu > div.dropdown {
	color: white;
	display: inline-block;
	font-size: 15px;
	margin-right: 6px;
	position: relative;
	top: 1px;
}
#esb > section > menu > div.dropdown > button.selectionCurrent {
	background: none repeat scroll 0 0 #444;
	font: normal normal 15px Arial;
	padding: 7px;
	text-indent: 0;
	width: auto;
	white-space: nowrap;
}
#esb > section > menu > div.dropdown.opened > button.selectionCurrent {
	background-color: #666;
}
#esb > section > menu > div.dropdown > button.selectionCurrent:after {
	content: " ";
	margin: 0;
	outline: 0;
	top: 6px;
	width: 20px;
	height: 14px;
	text-indent: -8888px;
	background-color: none;
	color: white;
	cursor: pointer;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	background-position: -98px -47px;
	position: relative;
	display: inline-block;
}
#esb > section > menu > div.dropdown.opened > button.selectionCurrent:after {
	background-position: -136px -47px;
}
#esb > section > menu > div.dropdown > ul {
	display: none;
	position: absolute;
	right: 6px;
	top: 40px;
	z-index: 100;
	list-style: none;
	text-align: left;
}
#esb > section > menu > div.dropdown > ul > li {
	border: 0;
	padding: 8px 20px;
	outline: 0;
	background-color: #555;
	color: white;
	cursor: pointer;
	border-bottom: solid 1px #222;
	font: normal normal 15px Arial;
	white-space: nowrap;
}
#esb > section > menu > div.dropdown > ul > li:hover {
	background-color: #888;
}
#esb > section > menu > div.dropdown > ul > li:first-child {
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
}
#esb > section > menu > div.dropdown > ul > li:last-child {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom: 0px solid black;
}
#esb.markers > section > menu > button.markers {
	background-color: rgba(235, 103, 33, 0.9);
}
#esb.fullscreen > section > menu > button.next,
#esb.fullscreen > section > menu > button.previous,
#esb.fullscreen > section > menu > button.exitfullscreen,
#esb.fullscreen > section > menu > button.markers, 
#esb > section.active.grid > menu > span.viewas,
#esb > section.active.thumbnail > menu > span.viewas,
#esb > section.active.list > menu > span.viewas,
#esb > section.active.grid > menu > span.sizeslider,
#esb > section.active.thumbnail > menu > span.sizeslider,
#esb > section.active.list > menu > span.sizeslider,
#esb > section.active.grid > menu > span.heightslider,
#esb > section.active.thumbnail > menu > span.heightslider,
#esb > section.active.list > menu > span.sizeslider,
#esb > section.list > menu > button.markers,
#esb > section.thumbnail > menu > button.markers,
#esb > section.grid > menu > button.markers,
#esb > section.notes > menu > button.next,
#esb > section.notes > menu > button.previous,
#esb > section.notes > menu > button.markers {
	display: inline-block;
}
#esb > section > menu > .controlset > .esbgallerysize,
#esb > section > menu > .controlset > .esbgalleryaspectratio {
	display: inline-block;
	vertical-align: middle;
	background: none;
	background-color: none;
	border: 1px solid #666;
	height: 0.3em;
}
#esb > section > menu > .controlset a {
	background: none;
	background-color: #aaa;
	border: 1px solid #ccc;
	height: 1em;
	width: 0.5em;
	top: -0.4em;
}
#esb > section > menu > span.controlset > span.icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	background-position: 0px -170px;
	vertical-align: middle;
	padding: 0;
}
#esb > section > menu > span.controlset > span.icon.small {
	background-position: 0px -170px;
}
#esb > section > menu > span.controlset > span.icon.large {
	background-position: -20px -170px;
}
#esb > section > menu > span.controlset > span.icon.short {
	background-position: -40px -170px;
}
#esb > section > menu > span.controlset > span.icon.tall {
	background-position: -60px -170px;
}
#esb > section > menu button.list {
	background-position: -120px -130px;
}
#esb > section > menu button.grid {
	background-position: -180px -130px;
}
#esb > section > menu button.thumbnail {
	background-position: -150px -130px;
}
#esb > section > menu button.inlineflow {
	background-position: -60px -60px;
}
#esb > section > menu button.notyetstarted {
	background-position: 0px -80px;
}
#esb > section > menu button.drafted {
	background-position: -20px -80px;
}
#esb > section > menu button.iterated {
	background-position: -40px -80px;
}
#esb > section > menu button.complete {
	background-position: -60px -80px;
}
#esb > section > menu button.approved {
	background-position: -80px -80px;
}
#esb > section > menu h3 {
	font-family: 'MuseoSlab500';
	font-size: 14px;
	text-transform: uppercase;
	color: #888;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-top: 7px;
}
#esb > section.active.notes > article.active > header {
	position: relative;
}
#esb > section.active.selected > menu > h2:before,
#esb > section.active.notes > menu > h2:before {
    content: "< View All ";
    font-size: 16px;
}
#esb > section.active.selected > menu > h2,
#esb > section.active.notes > menu > h2 {
    font-size: 16px;
    color: #666;
}
#esb > section.active.selected > menu > h2:hover,
#esb > section.active.notes > menu > h2:hover {
    color: #aaa;
    cursor: pointer;
}
#esb > section.active > menu > h2 {
	cursor: auto;
	color: #888;
	font-family: 'MuseoSlab500', Arial;
	font-size: 40px;
	vertical-align: top;
	margin-top: 80px;
}

/*	Page and Component Headers */

#esb > section > header {
	display: none;
}
#esb > section > article {
	display: none;
}
#esb > section > article.active {
	display: block;
}
#esb > section > article > header {
	display: none;
}
#esb > section > article > header > button {
	display: none;
}
#esb > section > section > header > h2,
#esb > section > article > header > h2 {
	font: normal 16px Arial;
	margin: 0px;
	padding: 0px;
	color: #888;
	vertical-align: top;
}
#esb > section > section > header > h2 > span.count,
#esb > section > article > header > h2 > span.count {
	font-size: 14px;
	font-family: Arial;
	color: #888;
}
#esb > section.list > section > header > h2:hover,
#esb > section > section > header > h2:hover,
#esb > section > article > header > h2:hover {
	background-color: #666;
	color: #aaa;
	cursor: pointer;
	-moz-border-radius: 5px;
}
#esb > section > article > header > h2:before {
	width: 20px;
	height: 20px;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	background-position: 0px -80px;
	margin-right: 5px;
	margin-top: 0px;
	display: inline-block;
	content: "";
}
#esb > section > article > header > h2.notyetstarted:before {
	background-position: 0px -78px;
}
#esb > section > article > header > h2.drafted:before {
	background-position: -20px -78px;
}
#esb > section > article > header > h2.iterated:before {
	background-position: -40px -78px;
}
#esb > section > article > header > h2.complete:before {
	background-position: -60px -78px;
}
#esb > section > article > header > h2.approved:before {
	background-position: -80px -78px;
}
#esb > section > article section.viewport .component > section.marker {
	display: none;
}
#esb > section > aside {
	display: none;
	background-color: rgba(48, 48, 48, 0.9);
	height: 53px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 55px;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
#esb > section > aside ul {
	list-style: none;
	margin-bottom: 20px;
	display: inline-block;
	margin-right: 20px;
}
#esb > section > aside ul > li {
	font-family: Arial;
	font-size: 14px;
	margin: 0px;
	display: inline-block;
	padding: 5px 4px 5px 6px;
	cursor: pointer;
	border: 1px solid #888;
	background-color: #444;
	border-right: 0px;
}
#esb > section > aside ul > li.active {
	background-color: #666;
}
#esb > section > aside ul > li:hover {
	background-color: #888;
}
#esb > section > aside ul > li:first-child {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}
#esb > section > aside ul > li:last-child {
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-right: 1px solid #aaa;
}
#esb > section.list,
#esb > section.list {
	display: block;
} 
#esb > section.list > section,
#esb > section.list > article {
	border-top: 1px solid #666;
	display: block;
	margin: 0;
	width: 100%;
}
#esb > section > section > header,
#esb > section > article > header {
	display: block;
}
#esb > section.list > section > header > button,
#esb > section.list > article > header > button {
	display: none;
}
#esb > section.list > section > header > h2,
#esb > section.list > article > header > h2 {
	width: 35%;
	display: inline-block;
	padding: 10px;
	margin-right: 20px;
}
#esb > section.list > section > header > span.description,
#esb > section.list > article > header > span.description {
	display: inline-block;
	font-size: 16px;
	position: relative;
	width: 50%;
	color: #888;
	vertical-align: top;
	padding: 10px;
}
#esb > section.list > section > header > span.version,
#esb > section.list > article > header > span.version {
	display: inline-block;
	display: none;
}
#esb > section.list > section > article,
#esb > section.list > article > section.variation,
#esb > section.list > article > section.viewport {
	display: none;
}
#esb > section.list > aside {
	display: block;
}

/* Thumbnail View */

#esb > section.thumbnail      > section,
#esb > section.thumbnail      > article {
	margin-bottom: 20px;
	margin-right: 20px;
	position: relative;
	display: inline-block;
	width: 430px;
	white-space: normal;
	height: 210px;
}
#esb > section.thumbnail      > section > header,
#esb > section.thumbnail      > article > header {
	margin-left: 166px;
	position: absolute;
}
#esb > section.thumbnail      > section > header > h2,
#esb > section.thumbnail      > article > header > h2 {
	width: 200px;
}
#esb > section.thumbnail      > section > header > span.description,
#esb > section.thumbnail      > article > header > span.description {
	color: #888888;
	display: inline-block;
	font-size: 13px;
	padding-top: 10px;
	width: 250px;
}
#esb > section.thumbnail      > section > header > span.version,
#esb > section.thumbnail      > article > header > span.version {
	display: none;
}
#esb > section.sets.thumbnail > section > article:nth-child(3),
#esb > section.sets.thumbnail > section > article:nth-child(4),
#esb > section.sets.thumbnail > section > article:nth-child(5) {
	display: block;
	position: absolute;
	top:13px;
	left:0;
}
#esb > section.sets.thumbnail > section > article:nth-child(4) {
	z-index: -1;
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
}
#esb > section.sets.thumbnail > section > article:nth-child(5) {
	z-index: -2;
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
}
#esb > section.sets.thumbnail > section > article > header {
	display: none;
}
#esb > section.sets.thumbnail > section > article {
	display: none;
}
#esb > section.thumbnail      > section > article > section.viewport,
#esb > section.thumbnail      > article > section.viewport {
	position: absolute;
	height: 1200px;
	-moz-transform: scale(0.15);
	-moz-transform-origin: top left;
	-webkit-transform: scale(0.15);
	-webkit-transform-origin: top left;
	transform: scale(0.15);
	transform-origin: top left;
	display: inline-block;
	margin: 0;
	background-color: white;
  padding: 20px 10px;
	border: 10px solid #ccc;
	overflow: hidden;
	cursor: move;
}
#esb > section.thumbnail      > aside {
	display: block;
}

/* Maps View */

#esb > section.map       > article {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	margin: 0;
	width: 250px;
	white-space: normal;
	height: 365px;
}

/* Grids View */

#esb > section.grid      > section,
#esb > section.grid      > article {
	margin-bottom: 0px;
	margin-right: 20px;
	position: relative;
	display: inline-block;
	width: 250px;
	white-space: normal;
	height: 365px;
}
#esb > section.grid      > article.variation {
	display: none;
}
#esb > section.grid      > section > header > h2,
#esb > section.grid      > article > header > h2 {
	white-space: nowrap; 
	overflow: hidden;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	width: 100%;
	vertical-align: middle;
}
#esb > section.grid      > section > header > span,
#esb > section.grid      > article > header > span {
	display: none;
}
#esb > section.sets.grid > section > article:nth-child(3),
#esb > section.sets.grid > section > article:nth-child(4),
#esb > section.sets.grid > section > article:nth-child(5),
#esb > section.sets.grid > section > article:nth-child(6),
#esb > section.sets.grid > section > article:nth-child(7),
#esb > section.sets.grid > section > article:nth-child(8) {
	display: block;
	position: absolute;
	top:36px;
	left:0;
	-moz-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}
#esb > section.sets.grid > section > article:nth-child(4) {
	z-index: -1;
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	transform: rotate(4deg);
	top: 26px;
	left: 8px;
}
#esb > section.sets.grid > section > article:nth-child(5) {
	z-index: -2;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
}
#esb > section.sets.grid > section > article:nth-child(6) {
	z-index: -3;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	left: 20px;
	top: 20px;
}
#esb > section.sets.grid > section > article:nth-child(7) {
	z-index: -4;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
}
#esb > section.sets.grid > section > article:nth-child(8) {
	z-index: -5;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}
#esb > section.sets.grid > section > article > header {
	display: none;
}
#esb > section.maps      > article > section.viewport,
#esb > section.grid      > section > article > section.viewport,
#esb > section.grid      > article > section.viewport {
	position: absolute;
	height: 1200px;
	-moz-transform: scale(0.25);
	-moz-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-webkit-transform-origin: top left;
	display: inline-block;
	margin: 0;
	background-color: white;
  padding: 20px 10px;
	border: 5px solid #444;
	overflow: hidden;
	cursor: pointer;
}
#esb > section.grid      > section > article > section.viewport {
	-moz-transform: scale(0.2);
	-webkit-transform: scale(0.2);
}
#esb > section.grid      > aside {
	display: block;
}
#esb > section.grid  > section > aside.notes,
#esb > section.grid  > article > aside.notes {
	display: none;
}

/*	Notes View */

#esb > section.notes > article {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 920px;
}
#esb > section.components.notes > article {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
	width: 960px;
}
#esb > section.notes > article > header > button.return {
	display: block;
	color: blue;
}
#esb > section.notes > article > header > h2 {
	cursor: auto;
	color: #888;
	font-size: 28px;
	vertical-align: top;
	padding-right: 340px;
	font-family: 'MuseoSlab500', Arial;
}
#esb > section.notes > article > header > h2:hover {
	background: none;
}
#esb > section.notes > article > header > h2:hover {
	background-color: rgba(0,0,0,0.01);
}
#esb > section.notes > article > header > button {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
#esb > section.notes.components > article > header > button {
	display: none;
}
#esb > section.notes > article > header > span {
	display: none;
}
#esb > section.notes > article > header > dl {
	display: none;
}
#esb > section.notes > article > section.viewport {
	background-color: white;
	margin: 0 0 50px 0;
  padding: 20px 10px;
	border: 2px solid #444;
	-moz-transform: scale(0.6);
	-moz-transform-origin: top left;
	-webkit-transform: scale(0.6);
	-webkit-transform-origin: top left;
	position: relative;
	left: 0px;
	top: 5px;
	display: inline-block;
	-moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
#esb > section > article > aside.notes {
	display: none;
}
#esb > section.notes > article > aside.notes {
	color: white;
	display: block;
	font-family: Arial;
	line-height: 1.2em;
	overflow: visible;
	position: absolute;
	right: 0;
	width: 310px;
	top: 33px;
}
#esb > section.notes > article > aside.notes h3 {
	font-family: 'MuseoSlab500', Arial;
	font-weight: normal;
	color: #888;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #555;
	margin-bottom: 10px;
	font-size: 16px;
}
#esb > section.notes > article > aside.notes p {
	font-size: 15px;
	font-weight: normal;
	font-family: Arial;
	line-height: 1.2em;
}
#esb > section.notes > article > aside.notes ul {
	list-style: disc outside none;
	margin-left: 0px; 
	padding-left: 0; 
	text-indent: 0; 
	display: inline;  
	font-size: 14px;
	font-weight: normal;
	font-family: Arial;
	line-height: 1.2em;
}
#esb > section.notes > article > aside.notes ul > li {
	background: none repeat scroll 0 0 transparent;
	font-size: 15px;
	margin: 0 0 0 15px;
	padding: 5px 0 5px 0px;
	line-height: 1.2em;
}
#esb > section.notes > article > aside.notes ul.itemstack {
	list-style: none;
	position: relative;
}
#esb > section.notes > article > aside.notes ul.itemstack > li {
	margin: 0;
	color: #fff;
}
#esb > section.notes > article > aside.notes ul li.esbmarker.hidden {
	text-decoration: line-through;
	color: rgba(256,256,256,0.5);
}
#esb > section.notes > article > aside.notes ul.itemstack > li.selected {
	background-color: #666;
}
#esb > section.notes > article > aside.notes ul.itemstack > li.selected:before {	
	width: 15px;
	height: 20px;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	background-position: -24px -3px;
	float: left;
	content: "";
}
#esb > section.notes > article > aside.notes ul.itemstack > li:hover {
	background-color: #EB6621;
}
#esb > section.notes > article > aside.notes ul.commaseparated > li {
	display: inline-block;
	padding-left: 0;
	border: 0;
	margin: 0;
	line-height: 1em;
}
#esb > section.notes > article > aside.notes ul.commaseparated > li:hover {
	text-decoration: underline;
	cursor: pointer;
}
#esb > section.notes > article > aside.notes ul.commaseparated > li:after {
	content: ", ";
}
#esb > section.notes > article > aside.notes ul.commaseparated > li:last-child:after {
	content: "";
}
#esb > section.notes > article > aside.notes ul > li.behavior {
	
}
#esb > section.notes > article > aside.notes ul > li.format {
	
}
#esb > section.notes > article > aside.notes ul > li.state {
	
}
#esb > section.notes > article > aside.notes ul > li.editorial {
	
}
#esb > section.notes > article > aside.notes ul > li.style {
	
}
#esb > section.notes > article > aside.notes > div.drawer {

}
#esb > section.notes > article > aside.notes > div.drawer > * {
	display: none;
}
#esb > section.notes > article > aside.notes > div.drawer > h3 > span.handle {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	right: 0;
	background-color: transparent;
	cursor: pointer;
	background-position: -120px -40px;
	opacity: 0.3;
}
#esb > section.notes > article > aside.notes > div.drawer > h3 {
	display: block;
} 
#esb > section.notes > article > aside.notes > div.drawer.open > * {
	display: block;
} 
#esb > section.notes > article > aside.notes > div.drawer.open > h3 > span.handle {
	display: inline-block;
	background-position: -100px -40px;
	opacity: 0.3;
} 
#esb > section.notes > article > aside.notes   ul.contexts {
	margin: 0;
	list-style: none;
}
#esb > section.notes > article > aside.notes   li.scenario {
	margin: 0;
}
#esb > section.notes > article > aside.notes   li.scenario > h4 {
	color: white;
	font-family: Arial;
	font-size: 13px;
}
#esb > section.notes > article > aside.notes   li.scenario > article.page {
	display: inline-block;
}
#esb > section.notes > article > aside.notes   li.scenario > article.page > header > h2 {
	font-size: 11px;
	color: #888;
	margin-bottom: 2px;
}
#esb > section.notes > article > aside.notes   li.scenario > article.page > section.viewport {
	width: 75px;
	height: 100px;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	border: 2px solid gray;
	margin-bottom: 10px;
}



#esb > section > .pagestack {
	position: relative;
}
#esb > section > .pagestack > .page > .stack2 {
	position: absolute;
	display: inline-block;
	width: 250px;
	white-space: normal;
	height: 365px;
	z-index: -5;
	background-color: white;
	border: 10px solid #ccc;
}

/* Components */

#esb > section.components > aside {
	display: none;
}
#esb > section.components > article > section.variation > header {
	display: block;
}
#esb > section.components > article > section.variation > section.viewport {
	-moz-transform: scale(0.8);
	-moz-transform-origin: left top;
	-webkit-transform: scale(0.8);
	-webkit-transform-origin: left top;
	height: auto;
	overflow: hidden;
	margin: 0 0 10px 0;
  padding: 10px 10px;
	border: 2px solid #444;
	position: relative;
	display: inline-block;
	background-color: white;
	-moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
#esb > section.components.grid > article {
  width: auto;
  height: auto;
	border: 1px solid rgba(255, 255, 255, 0.1);
	height: 150px;
	margin-bottom: 20px;
	overflow: hidden;
	width: 250px;
}
#esb > section.components.grid > article > section.variation {
    display: none;
}
#esb > section.components.grid > article > section.variation:nth-child(3) {
    display: block;
		width: 480px;
}
#esb > section.components.grid > article > section.variation > header {
    display: none;
}
#esb > section.components > article > section.variation > aside.notes {
	display: none;
}
#esb > section.components.notes > article.active > aside.notes ul.itemstack > li > button.notes {
	position: relative;
	float: right;
	right: 0px;
}
#esb > section.components.notes > article.active > section.variation {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	height: auto;
	margin-right: 20px;
}
#esb > section.components.notes > article.active > section.variation > header > h3 {
	font-size: 14px;
	font-family: "Arial";
	font-weight: normal;
	color: #888;
	overflow: hidden;
	white-space: nowrap;
}
#esb > section.components.notes > article.active > section.variation > header > h3:before {
	color: gray;
}
#esb > section.components.notes > article.active > aside.notes {
	float: right;
	position: relative;
	width: 310px;
	margin-left: 20px;
	margin-right: 20px;
	top: 0;
	right: 0;
}
#esb > section.components > article.annotated > section.variation > header button {
	display: inline-block;
	float: right;
	width: 20px;
	height: 20px;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	margin-right: 20px;
	background-position: -40px -60px;
}

/* Components, Pages Headers */

#esb > section            > article > header > button {
	background: url("../images/icons.gif") no-repeat scroll 2px -98px #666666;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	color: white;
	cursor: pointer;
	display: block;
	height: 33px;
	margin: 0;
	outline: 0 none;
	padding: 0;
	position: absolute;
	right: 0;
	vertical-align: middle;
	width: 33px;
	-moz-transform: scale(0.75);
	-moz-transform-origin: right top;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: right top;
	transform: scale(0.75);
	transform-origin: right top;
}
#esb > section.notes      > article > header > menu {
	color: white;
	float: right;
	font-size: 14px;
	height: 40px;
	margin: 0 20px 0 0;
	padding: 0;
	position: relative;
	right: 114px;
	text-align: right;
	top: 1px;
	z-index: 887;
}
#esb > section.grid       > article > header > menu,
#esb > section.thumbnail  > article > header > menu,
#esb > section.list       > article > header > menu {
	display: none;
}
#esb > section 			      > article > header > menu > button {
	margin-left: 20px;
  background-color: rgba(0,0,0,0.15);
	cursor: pointer;
	color: white;
	vertical-align: middle;
	padding: 4px 10px 4px 5px;
}
#esb > section      		  > article > header > menu > button.active {
	background-color: #eb6721;
}
#esb > section            > article > header > menu > button:before {
	display: inline-block;
	height: 30px;
	width: 30px;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	background-position: 0px -100px;
	vertical-align: middle;
	content: "";
}
#esb > section            > article > header > menu > button.markers:before {
	background-position: -60px -100px;
}
#esb > section            > article > header > menu > button.remove:before {
	background-position: -90px -100px;
}
#esb > section            > article > header > menu > button.exitfullscreen:before {
	background-position: -30px -100px;
	width: 25px;
}
#esb > section.notes      > article > header > menu > button.exitfullscreen,
#esb > section.notes      > article > header > menu > button.remove {
	display: none;
}

/* Sets Headers */

#esb > section.sets:not(.active) {
	display: none;
}
#esb > section.sets       > section > header > span,
#esb > section.sets       > section > header > menu,
#esb > section.sets       > section > header > button {
	display: none;
}
#esb > section.sets       > section.active > header {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
#esb > section.sets       > section.active > header > h2 {
	font-family: 'MuseoSlab500', Arial;
	color: #888;
	font-size: 40px;
	margin: 0px;
	vertical-align: top;
}
#esb > section.sets       > section.active > header > span.description {
	color: #888;
	font-size: 16px;
}
#esb > section.sets.selected > section:not(.active) {
	display: none;
}
#esb > section.sets.selected > section > article {
	display: inline-block;
}

/* Fullscreen */

#esb.fullscreen {
	background: none;
}
#esb.fullscreen > header ,
#esb.fullscreen > section > header,
#esb.fullscreen > section > article > header,
#esb.fullscreen > section > article > aside,
#esb.fullscreen > section > article:not(.active) {
	display: none;
}
#esb.fullscreen > section.pages > header {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
#esb.fullscreen > section.pages > header > h2 {
	display: none;
}
#esb.fullscreen > section.pages > header > button {
	display: inline-block;
}
#esb.fullscreen > section.active ,
#esb.fullscreen > section > article.active {
	display: block;
	margin: 0px;
}
#esb.fullscreen > section > article.active > header,
#esb.fullscreen > section > article.active > section.viewport {
	display: block;
}
#esb.fullscreen > section > article.active > header > * {
	display: none;
}
#esb.fullscreen > section > article.active > header > menu {
	display: block;
  top: 0;
	text-align: right;
  font-size: 14px;
  height: 40px;
  margin: 0;
  position: fixed;
  right: 0;
  z-index: 887;
	color: white;
}
#esb.fullscreen > section > article.active > header > menu > button {
	background-color: rgba(0,0,0,0.25);
	margin-left: 0px;
	margin-right: 10px;
}
#esb.fullscreen > section > article.active > header > menu > button.fullscreen,
#esb.fullscreen > section > article.active > header > menu > button.remove {
	display: none;
}
#esb > section.pages:not(.grid):not(.list) > article.active:not(.annotated) > section.viewport > menu.esb-pagemenu > button.fullscreen {
	background-position: 0px -100px;
}
#esb.markers > section.pages > header > button.markers {
	background-color: #eb6721;
}
#esb > section.sets.selected > section.inlineflow > article.page > section.viewport {
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
}
#esb > section.sets.selected > section            > article.page > header > * {
	display: none;
}
#esb > section.sets.selected > section            > article.page > header > h2 {
	display: inline-block;
}
#esb > section.sets.selected > section            > article.page > header > span.enumeration {
	display: inline-block;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
#esb > section.sets.selected > section.inlineflow > article.page.precedes > header > span.enumeration {
	display: inline-block;
	padding-left: 10px;
}
#esb > section.sets.selected > section.inlineflow > article.page.follows > header > span.enumeration {
	display: inline-block;
	text-align: right;
}
#esb > section.sets.selected > section.inlineflow > article.page.active > header > menu,
#esb > section.sets.selected > section.inlineflow > article.page.active > header > h2 {
	display: inline-block;
}
#esb > section.sets.selected > section.inlineflow > article.page:not(.active) > header > h2 {
	display: none;
}
#esb > section.sets.selected > section.inlineflow > article.page.active > header > menu {
	color: white;
	float: right;
	font-size: 14px;
	margin: 0;
	padding: 0;
	position: relative;
	right: 200px;
	text-align: right;
	top: 0;
	z-index: 887;
}
#esb > section.sets.selected > section.inlineflow > article.page.active > header > menu > button {
background-color: rgba(0, 0, 0, 0.15);
color: white;
cursor: pointer;
margin-left: 20px;
padding: 5px 10px 5px 5px;
vertical-align: middle;
}
#esb > section.sets.selected > section.inlineflow > article.page {
	top: 180px;
}
#esb > section.sets.selected > section.inlineflow > article.page.active {
	top: 100px;
}
#esb > section.sets.selected > section.inlineflow > article.page.follows {
	top: 400px;
}
#esb > section.sets.selected > section.inlineflow > article.page.precedes > section.viewport {
	-moz-transform: scale(0.4) skewY(30deg);
	-webkit-transform: scale(0.4) skewY(30deg);
}
#esb > section.sets.selected > section.inlineflow > article.page.follows > section.viewport {
	-moz-transform: scale(0.4) skewY(-30deg);
	-webkit-transform: scale(0.4) skewY(-30deg);
	left: -365px;
	z-index: -4;
}
#esb > section.sets.selected > section.inlineflow > article > header {
	display: block;
}


/* ======================================================================
	Elements that occur WITHIN a design
*/


.esbmarker {
	-moz-border-radius: 5px 5px 5px 5px;
	left: -5px !important;
	margin: 0 !important;
	padding: 5px !important;
	position: relative !important;
	display: block !important;
	text-align: left !important;
	vertical-align: middle !important;
	width: 309px;
	color: white;
	font-size: 13px;
	line-height: 1.2em;
	background: none repeat scroll 0 0 transparent;
	cursor: pointer;
}
#esb > section.pages > article > section.viewport .component > .esbmarker-wrapper {
	position: relative;
	z-index: 887; 
	font-size: 13px;  
	cursor: pointer;
	color: white;
	display: none;
	font-weight: normal;
}
#esb.markers > section.pages > article > section.viewport .component > .esbmarker-wrapper {
	display: block;
}
#esb.markers > section.pages > article > section.viewport .component {
	outline: solid 2px #EB6721; 
}
#esb > section.pages > article > section.viewport .component.highlight {
	outline: solid 5px #EB6721; 
}
#esb > section.pages > article > section.viewport .component > .esbmarker-wrapper > .esbmarker {
	background-color: rgba(235, 103, 33, 0.9);
	width: -moz-fit-content !important;
	position: absolute !important;
	top: 0;
	left: -5px;
	padding: 5px 10px;
	background-color: rgba(235,103,33,0.9);
	white-space: nowrap;
}
#esb > section.pages.notes > article > section.viewport .component > .esbmarker-wrapper .esbmarker {
	-moz-transform: scale(1.5);
	-moz-transform-origin: left top;
	-webkit-transform: scale(1.5);
	-webkit-transform-origin: left top;
}

.esbmarker:hover {
	background-color: rgba(235, 103, 33, 0.9);
}
.esbmarker > div {
	min-height: 20px;
}
.esbmarker button {
	display: none;
	width: 20px;
	height: 20px;
	text-indent: -8888px;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	vertical-align: middle;
}
.esbmarker button.showhide:hover,
.esbmarker button.previous:hover,
.esbmarker button.next:hover,
.esbmarker button.remove:hover {
	background-color: rgba(256,256,256,0.5);
}
.esbmarker button.showhide {
	background-position: -48px -136px;
	float: right;
	margin-right: 5px;
}
.esbmarker button.previous {
	background-position: -40px -20px;
	margin-right: 5px;
	float: right;
}
.esbmarker button.next {
	background-position: -20px 0px;
	margin-right: 5px;
	float: right;
}
.esbmarker.hidden button.showhide {
	background-position: -88px -134px;
}
.esbmarker:hover button {
	display: inline-block;
}
.esbmarker button.remove {
	background-position: 0px 0px;
	float: right;
}
.esbmarker button.notes {
background-position: -40px -60px;
cursor: auto;
vertical-align: middle;
margin-left: 5px;
display: inline-block;
}
.esbmarker > div.variations {
margin-top: 5px;
color: rgba(256,256,256,0.5);
text-transform: uppercase;
font-size: 11px;
}
.esbmarker > div.variations button.drawer {
	background-position: -120px -40px;
	display: none;
}
.esbmarker > div.variations.open button.drawer {
	background-position: -100px -60px;
}
.esbmarker > div.variations > p {
	
}
.esbmarker > div.variations > ul {
	display: none;
}
.esbmarker > div.variations > ul.open {
	display: block;
	max-height: 100px;
}
.esbmarker > div.variations > ul > li {
	
}

/* ======================================================================
		Inline
*/
#esu > .page > .viewport .flowadvancer {
	position: relative;
	left: 5px;
	top: -5px;
	width: 20px;
	height: 20px;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	cursor: pointer;
	background-position: -40px -40px;
	background-color: red;
}


span.doneness {
	width: 20px;
	height: 20px;
	background-image: url("../images/icons.gif");
	background-repeat: no-repeat;
	background-position: 0px -80px;
	text-indent: -888px;
}
span.doneness.notyetstarted {
	background-position: 0px -80px;
}
span.doneness.drafted {
	background-position: -20px -80px;
}
span.doneness.iterated {
	background-position: -40px -80px;
}
span.doneness.complete {
	background-position: -60px -80px;
}
span.doneness.approved {
	background-position: -80px -80px;
}



