@import url(heritage-france.css);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body,p{font:14px/18px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}
a {color:#0088CC;}
a:focus{outline:1px dotted}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1,h2,h3,h4 { line-height: 1.2em; margin-bottom: 10px; font-weight: normal;}
h1{font-size:40px; }
h2{font-size:25px; }
h3{font-size:20px; }
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
ol{list-style:decimal}
ul{list-style:disc}
li{margin-left:30px}

.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15{position:relative}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.container_12 .push_3,.container_16 .push_4{left:240px}.container_12 .push_6,.container_16 .push_8{left:480px}.container_12 .push_9,.container_16 .push_12{left:720px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_16 .push_1{left:60px}.container_16 .push_2{left:120px}.container_16 .push_3{left:180px}.container_16 .push_5{left:300px}.container_16 .push_6{left:360px}.container_16 .push_7{left:420px}.container_16 .push_9{left:540px}.container_16 .push_10{left:600px}.container_16 .push_11{left:660px}.container_16 .push_13{left:780px}.container_16 .push_14{left:840px}.container_16 .push_15{left:900px}.container_12 .pull_3,.container_16 .pull_4{left:-240px}.container_12 .pull_6,.container_16 .pull_8{left:-480px}.container_12 .pull_9,.container_16 .pull_12{left:-720px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.container_16 .pull_1{left:-60px}.container_16 .pull_2{left:-120px}.container_16 .pull_3{left:-180px}.container_16 .pull_5{left:-300px}.container_16 .pull_6{left:-360px}.container_16 .pull_7{left:-420px}.container_16 .pull_9{left:-540px}.container_16 .pull_10{left:-600px}.container_16 .pull_11{left:-660px}.container_16 .pull_13{left:-780px}.container_16 .pull_14{left:-840px}.container_16 .pull_15{left:-900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}


.top-header {
	height: 30px;
	background-color: black;
	padding: 8px 0px;
}
.top-header.masthead {
	padding: 0px;
	height: 87px;
}
.top-header p {
	color: white;
}
.top-header img {
	margin-top: 5px;
}
.top-header form {
	float: right;
	width: 412px;
}
.top-header form label {
	float: left;
	color: #fff;
	font-size: 12px;
	padding-right: 8px;
	line-height: 23px;
}
.top-header form div {
	float: left;
	border: 1px solid #a2a2a2;
	background: #fff url(images/bg-input.gif) repeat-x;
	margin-right: 6px;
	display: inline;
}
.top-header form input {
	float: left;
}
.top-header form div input {
	background: none;
	border: none;
	font-size: 12px;
	color: #383838;
	width: 66px;
	padding: 3px 5px;
}
.top-header form div.email input {
	width: 142px;
}
.header, .framing, .sidetabs, .plandetails, .tiles, .featured, .actionbar, .river, .footer {
	margin-bottom: 20px;
	clear: both;
	display: inline;
	float: left;
}
.header {
	background-color: #ddd;
	text-overflow: none;
	text-align: center;
}
.header > p {
	font-size: 25px;
	color: #999;
	padding: 20px 0px 10px 0px;
}
.headertabs {
	position: relative;
}
.headertabs > section {
	display: inline-block;
}
.headertabs > section > header > h2 {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	margin: 0px;
	width: 230px;
	text-align: center;
	padding: 15px 0px;
	color: white;
	cursor: pointer;
	background-color: #ccc;
}
.headertabs > section > header > h2.active {
	background-color: #bbb;
}
.hometitle {
	text-align: center;
	padding: 50px 0px 15px;
}
#homevideo {
	height: 300px;
	display: block;
	margin-bottom: 30px;
}
.hometiles h2 {
	text-align: left;
}
.hometiles p {
	font-size: 16px;
	line-height: 1.2;
	padding: 15px;
	border-top: 1px solid #ccc;
}
.hometiles p.mission {
	font-size: 20px;
}
.hometiles p:first-child {
	font-size: 24px;
}
.hometiles ul {
	display: inline;
}
.hometiles ul li {
	cursor: pointer;
	list-style: none;
	padding: 15px;
	font-size: 16px;
	margin: 0px;
	font-size: 16px;
	background-color: #eee;
	border-top: 1px solid #ccc;
}
.hometiles ul li:hover {
	background-color: #ccc;
}
nav.megamenu {
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: #bbb;
  height: 180px;
  left: -4px;
  padding: 20px;
  position: absolute;
  width: 900px;
	display: none;
}
nav.megamenu > section {
  background-color: #AAAAAA;
  display: inline-block;
  height: 60px;
  margin: 0px 20px 20px 0px;
  width: 255px;
	padding: 10px;
}
.graphic {
	background-color: #ccc;
	font-size: 14px;
	text-transform: uppercase;
	color: #aaa;
	text-align: center;
	padding-top: 10px;
	-moz-border-radius: 5px;
}
.actionbar {
	background-color: #eee;
}
.actionbar > section {
	padding: 10px;
	position: relative;
}
.actionbar .tweet {
	position: absolute;
	top: 21px;
	right: 8px;
}
.actionbar a.button {
	background-color: blue;
	color: white;
	margin: 0px 10px;
	text-decoration: none;
	padding: 2px 10px;
	-moz-border-radius: 3px;
	cursor: pointer;
	display: inline-block;
}
.actionbar > section > p {
	font-size: 13px;
	font-family: Arial;
}
.actionbar .button, .actionbar p {
	margin: 10px 0px 0px 10px;
} 
.framing {
  background-color: #eee;
  height: 250px;
	display: block;
}
.framing > p, .framinghome > p {
	font-size: 28px;
	line-height: 1.2em;
	padding: 20px;
}
.framing div.actionbar {
	float: right;
	width: 250px;
	margin: 50px 20px 0px 0px;
}
.framing div.actionbar a.button {
	clear: both;
	float: left;
	width: 50px;
	margin-right: 20px;
}
.framing.centered {
	height: 200px;
}
.framing.centered > p {
	text-align: center;
	font-size: 20px;
	margin: 20px;
	width: 900px;
	color: #555;
}
.framing.centered > p.headline {
	font-size: 35px;
}
.framing.smallFramingBar {
	height: 50px;
	margin-bottom: 10px;
}
.framing.smallFramingBar > p {
	width: 100%;
	margin: 15px 0;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}
.framinghome {
	height: 320px;
	background-color: #eee;
	margin-bottom: 20px;
}
.framinghome > h2.personalist {
	text-align: center;
	color: #666;
	font-size: 20px;
	margin-top: 90px;
}
.framinghome ul.personalist {
	text-align: center;
	display: block;
	margin-bottom: 100px;
}
.framinghome ul.personalist li {
	list-style: none;
	display: inline-block;
	padding: 20px 10px 5px 10px;
	margin: 0px 0px 0px 10px;
	font-size: 15px;
	height: 80px;
	width: 120px;
	text-align: center;
	background-color: #ccc;
	vertical-align: bottom;
}
.plansummary .pull {
	float: left;
	background-color: #eee;
	padding: 20px;
	margin: 0px 20px 20px 0px;
	width: 250px;
}
.plansummary .pull.right {
	float: right;
	margin: 0px 0px 20px 20px;
}
.plansummary p {
	font-size: 20px;
	color: #666;
	line-height: 1.4;
}
.plansummary .pull li {
	font-size: 16px;
	line-height: 1.4;
}
.tiles > section {
	text-align: left;
	height: 180px;
	margin-bottom: 20px;
	display: block;
	background-color: #eee;
}
.tiles > section > h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 20px 0px 0px ;
}
.tiles > section > p {
	margin: 0px 0px 0px;
}
.tiles > section > div.graphic {
	height: 80px;
	width: 250px;
}
.tiles > section.grid_3 > div.graphic {
	height: 60px;
	width: 180px;
}
.featured {
	text-align: left;
}
.featured > p {
	font-size: 16px;
	line-height: 1.4;
}
.featured > section {
	background-color: #eee;
	margin-bottom: 0px;
	margin-right: 20px;
	padding: 10px;
	width: 90%;
}
.featured > section > h3 {
	font-size: 25px;
	color: #333;
	font-weight: normal;
}
.featured > section > h3 > strong {
	color: black;
	font-weight: bold;
}
.featured > section > div.graphic {
	height: 100px;
	width: 150px;
	float: left;
	margin-right: 20px;
}
#river{
	text-align: center;
}
#river > section, .featured > section {
  display: inline-block;
  margin-bottom: 20px;
	text-align: left;
}
#river > section > h3 {
	font-size: 25px;
	font-weight: normal;
}
#river > section > p, .featured > section > p {
	font-size: 16px;
}
#river > section > .graphic {
	height: 200px;
	width: 350px;
	float: left;
	margin-right: 40px;
}
#river > section > .lightbox {
	border: 1px solid blue;
	background-color: #b0e0e6;
}
#river > section.reverse > .graphic {
	float: right;
	margin-left: 40px;
	margin-right: 0px;
}
#river > section.reverse > h3, #river> section.reverse > p {
	text-align: right;
}
.sidetabs > nav, .sidetabs article {
	height: 250px;
}
.sidetabs nav {
	background-color: #ddd;
}
.sidetabs nav ul {
	display: inline;
}
.sidetabs nav ul li {
	list-style: none;
	padding: 10px;
	margin: 0px;
	font-size: 16px;
}
.sidetabs nav ul li.active {
	background-color: #ccc;
}
.sidetabs article > h3 {
	margin-top: 20px;
}
.footer {
	margin-top: 30px;
	margin-bottom: 40px;
	border-top: 5px solid #eee;
	padding-top: 10px;
}
.footer > nav > div {
	height: 220px;
}
.footer > nav ul {
	display: inline;
}
.footer > nav li {
	list-style: none;
	padding: 0px 0px 5px;
	margin: 0px;
	font-size: 13px;
}
.footer > nav > div > h3 {
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
}
.footer p {
	color: gray;
}
.bigideas > p {
    font-size: 16px;
    margin-bottom: 30px;
}
.bigideas > ul {
    list-style: none;
}
.bigideas > ul > li {
    margin-left: 0px;
    clear: both;
}
.bigideas > ul > li > img {
	padding: 10px;
	border: 5px solid #bee4f8;
	margin: 10px 10px 30px;
	cursor: pointer;
}
.bigideas > ul > li > img:hover {
	border: 5px solid blue;
}
.bigideas > ul > li > i {
    font-style: none;
    font-size: 30px;
    float: left;
    display: inline-block;
    margin-right: 20px;
    padding-top: 10px;
    color: #ccc;
    margin-bottom: 80px;
}
.bigideas > ul > li > h3 {
    font-size: 20px;
}
.bigideas > ul > li > p {
    font-size: 15px;
		color: #999;
}
.related {
	margin-bottom: 20px;
}
.related > ul {
    list-style: none;
}
.related > ul > li {
	margin-left: 0px;
	margin-bottom: 5px;
	clear:both;
}
.related .meta {
    text-transform: uppercase;
    color: #555;
    font-size: 12px;
}
.related img.video {
	display: inline-block;
	height: 45px;
	width: 60px;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: #ddd;
}
.related .videothumbnail {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#fullreport {
	margin-top: 20px;
}
#topictabs {
	margin-bottom: 20px;
}
#topictabs > ul {
	list-style: none;
	height: 65px;
	padding: 10px;
	padding-bottom: 0px;
	border-bottom: 10px solid #ddd;
}
#topictabs > ul > li {
	margin-left: 0px;
	display: inline-block;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    width: 118px;
    height: 35px;
cursor: pointer;
	border-bottom: 0px;
}
#topictabs > ul > li.active {
	background-color: #ddd;
}
#topictabs > ul > li > img {
	height: 30px;
	width: 30px;
	float: left;
	margin-right: 10px;
	background-color: #bbb;
	display: inline-block;
}
#personaquestions > h3 {
	font-size: 25px;
	margin-bottom: 20px;
}
.plandetails {
	background-color: #eee;
	margin-top: 30px;
}
.plandetails .paper, .plandetails .paper2, .plandetails .paper3 {
	float: right;
	height: 140px;
	width: 105px;
	-moz-transform: rotate(15deg);
	margin-right: 50px;
	background-color: #FCF7AB;
	border: 1px solid #E8E59D;
}
.plandetails .paper2 {
	margin-right: -100px;
	margin-top: 5px;
}
.plandetails .paper3 {
	margin-right: -100px;
	margin-top: 10px;
}
.plandetails h2, .plandetails p, .plandetails a.button {
	margin: 10px 10px 0px 40px;
}
.plandetails h2 {
	margin-top: 20px;
}
.adunit {
	height: 150px;
	width: 220px;
	background-color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	color: #aaa;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 20px;
}
a.button {
	background-color: blue;
	color: white;
	margin: 0px 10px 10px 0px;
	text-decoration: none;
	padding: 10px 15px;
	-moz-border-radius: 5px;
	cursor: pointer;
	display: inline-block;
}
p {
margin-bottom: 10px;
}
p.question {
	font-size: 16px;
	font-style: italic;
	color: #999;
}
p.answer {
	font-size: 16px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.drawer-closed, .action-star, .icon-completed, .action-expandright, .action-collapseleft, .type-search, .action-menu, .button-menu, .action-menu-active, .action-expand, .type-target, .action-close { 
	width: 20px; 
	height: 20px; 
	background:transparent url("../images/sprites.jpg") no-repeat 4px 0; 
	display: inline-block; 
	margin-right: 5px;
}
.action-menu { 
	float: right; background-position: -70px 2px; 
}

header.lfa {
	margin: 50px 10px;
}
nav.initiatives {
	
}
nav.initiatives > ul {
	list-style: none;
	margin: 0;
}
nav.initiatives > ul > li {
	height: 20px;
	padding: 10px;
	border-top: 1px solid #888;
	margin: 0;
	background-color: #aaa;
	cursor: pointer;
}
nav.initiatives > ul > li.active {
	background-color: #ddd;
}
section.initiative {
	background-color: #ddd;
	min-height: 500px;
	padding: 10px;
	padding-bottom: 50px;
}
section.initiative button {
	height: 30px;
	background-color: blue;
	color: white;
	font-size: 14px;
	-moz-border-radius: 3px;
	float: right;
	padding: 5px;
}
section.initiative > header {
	padding: 5px;
}
section.initiative h2 {
	color: blue;
	font-weight: normal;
	font-size: 30px;
}
section.initiative h3 {
	margin-top: 10px;
}
section.initiative p {
	margin-bottom: 20px;
}
section.initiative p.subtitle {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 30px;
}
section.initiative.overview > p {
	font-size: 18px;
	line-height: 1.2em;
}
section.initiative > section.highlight {
	float: right;
	width: 200px;
	min-height: 200px;
	padding: 20px;
	background-color: #bbb;
	margin: 0px 0px 20px 20px;
}


